.loader-container {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: solid 1px var(--cor-bordas);
    box-shadow: 1px 2px 5px var(--cor-sombra);
    border-radius: 10px;
}

/*   width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: solid 1px var(--cor-bordas);
    box-shadow: 1px 2px 5px var(--cor-sombra);
    border-radius: 10px;
    overflow: hidden; */

.loader-icon {
    font-size: 2.5rem;
    animation: giraSpin 1.3s linear infinite;
}

@keyframes giraSpin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
