.galeria{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
    justify-items: center;
    gap: 40px;
    padding: 20px;
    margin-top: 80px;
 
}

.mensagem{
    font-size: 1.1rem;
    color: var(--cor-texto);
    text-align: center;
  
}
