.card{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: solid 1px var(--cor-bordas);
    box-shadow: 1px 2px 5px var(--cor-sombra);
    border-radius: 10px;
    overflow: hidden;
}

.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card img:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.card h3{
    text-align: center;
    font-size: 1rem;
    color: var(--cor-texto);
    padding: 10px;
}