.div-search-bar{
    max-width: 400px;
    height: 40px;
    margin: 20px auto;
    background: var(--branco1);
    border: solid 1px var(--cor-bordas);
        box-shadow: 1px 2px 5px var(--cor-sombra);

    border-radius: 30px;
    display: flex;
}

.div-search-bar input{
    width: 85%;
    height: 100%;
    border: none;
    padding: 0 15px;
    font-size: 1rem;
    color: var(--cor-texto);
    border-radius: 30px 0 0 30px;
    outline: none;
}

.div-search-bar button{
    width: 15%;
    height: 100%;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--cor-texto);
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 30px 30px 0;
}

.div-search-bar button:hover{
    font-size: 1.4rem;
}