.footer {
    background-color: #222;
    color: #f0f0f0;            
    padding: 20px 0;       
    width: 100%;  
    height: 100px;         
    margin-top: 250px;       
    font-size: 0.9rem;   
    display: flex;
    align-items: center;
    justify-content: center;
}