.footer {
    background-color: #222;
    color: #f0f0f0;       
    text-align: center;     
    padding: 20px 0;       
    width: 100%;           
    margin-top: 250px;       
    font-size: 0.9rem;   
}