*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



:root{
    --cor-texto: #343a40;
    --cor-sombra: #dee2e6;
    --cor-bordas: #ced4da;
    --background-1: #f0f0f0;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-1);
  color: var(--cor-texto);
}